{
  "extends": "airbnb",
  "env": {
    "webextensions": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "max-len": ["error", 80],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }]
  }
}
