html, body {
  background-color: #17141F;
}

.topBar {
  background-color: #392E5C;
}

.leftBar {
  background-color: #1D001E;
}

.noResults {
  color: #CBC8D0;
}

.versionText {
  color: #CBC8D0;
}

.aboutText {
  color: #CBC8D0;
}

.contactInfo {
  color: #CBC8D0;
}

.bottomText {
  color: #898395;
}

.bottomText.gameTop {
  color: #DAD8DE;
}

.searchBar {
  background-color: #0E0C13;
}

.searchBox {
  background-color: #0E0C13;
  color: #F8F7F8;
}

.status {
  color: #DAD8DE;
}

.uptime {
  color: #DAD8DE;
}

.cornerLogo {
  background-color: #201C2B;
  border-color: #201C2B;
}

.cornerGame {
  background-color: #201C2B;
  border-color: #201C2B;
}
