html, body {
  width: 600px;
  height: 600px;
  padding: 0;
  margin: 0;
  background-color: #FAF9FA;
  font-family: Helvetica;
  font-size: 12px;
  color: white;
  -moz-user-select: none;
}

.screenLock {
  position: fixed;
  width: 600px;
  height: 600px;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s ease-in-out;
}

.screenLock.hidden {
  opacity: 0;
  visibility: hidden;
}

.lockBackground {
  position: absolute;
  width: 600px;
  height: 600px;
  background-size: 600px 600px;
  background-color: black;
  opacity: 0.8;
}

.enlargedPreview {
  position: fixed;
  width: 265px;
  height: 149px;
  background-size: 256px 144px;
  transition: all 0.3s ease;
}

.enlargedPreview.enlarged {
  width: 600px;
  height: 338px;
  background-size: 600px 338px;
}

.topBar {
  position: fixed;
  width: 600px;
  height: 36px;
  background-color: #4B367C;
  z-index: 2;
}

.leftBar {
  position: fixed;
  height: 564px;
  top: 36px;
  z-index: 1;
}

.leftBarBack {
  position: fixed;
  width: 36px;
  height: 564px;
  top: 36px;
  background-color: #17141F;
  box-sizing: border-box;
  border-right: 1px solid #2C2541;
  z-index: 0;
}

.menuButton {
  height: 36px;
  width: 36px;
  transition: background-color 0.5s ease;
}

.settings {
  position: absolute;
  background: url(images/settings.png);
  opacity: 0.9;
}

.settings:hover {
  cursor: pointer;
  opacity: 1;
}

.searchBar {
  box-sizing: border-box;
  position: absolute;
  width: 432px;
  height: 26px;
  top: 5px;
  left: 41px;
  background-color: white;
}

.menuButton.search {
  display: inline-block;
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px;
  left: 4px;
  background: url(images/search.png);
  opacity: 0.5;
}

.search.hide {
  display: none;
}

.menuButton.search.back {
  background: url(images/back.png);
}

.menuButton.search.forward {
  background: url(images/forward.png);
}

.menuButton.search.possible {
  opacity: 0.8;
}

.menuButton.search:hover {
  cursor: not-allowed;
  opacity: 1;
}

.menuButton.search.possible:hover {
  cursor: pointer;
}

.menuButton.search.refresh {
  background: url(images/refresh.png);
  position: absolute;
  left: 390px;
}

.menuButton.search.favorites {
  background: url(images/favorites.png);
  position: absolute;
  left: 390px;
  cursor: pointer;
}

.menuButton.search.refresh.thinking {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.thinking .tooltip {
  display: none;
}

.menuButton.search.exitSearch {
  background: url(images/exit.png);
  position: absolute;
  left: 410px;
}

.searchBox {
  position: relative;
  top: 0px;
  left: 4px;
  width: 317px;
  border: 0px solid;
}

.menuButton.avatar {
  display: block;
  background-size: 30px 30px;
  position: absolute;
  left: 480px;
  top: 3px;
  width: 30px;
  height: 30px;
  opacity: 0.9;
}

.menuButton.avatar.noAccess {
  visibility: hidden;
}

.menuButton.avatar:hover {
  opacity: 1;
  cursor: pointer;
}

.menuButton.login {
  position: absolute;
  left: 516px;
  top: 4px;
  width: 80px;
  height: 28px;
  background-color: #6441A4;
  text-align: center;
}

.menuButton.login:hover {
  background-color: #7D5BBE;
  cursor: pointer;
}

.loginText {
  position: relative;
  width: 0px;
  height: 0px;
  top: 7px;
  margin-left: -100%;
  margin-right: -100%;
}

.menuButton.tab {
  position: relative;
  background-color: #17141F;
  transition: background-color 0.5s ease;
}

.menuButton.tab.noAccess {
  opacity: 0.5;
}

.menuButton.tab:hover {
  background-color: #35323D;
  cursor: pointer;
}

.menuButton.tab.noAccess:hover {
  background-color: #17141F;
  cursor: not-allowed;
  opacity: 1;
}

.menuButton.tab.selected {
  background-color: #53505B;
}

.menuButton.tab.selected:hover {
  cursor: auto;
}

.tooltip {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
}

.menuButton:hover .tooltip {
  visibility: visible;
}

.settings .tooltip {
  top: 5px;
  left: 38px;
}

.search .tooltip {
  top: 28px;
}

.avatar .tooltip {
  top: 33px;
  left: -33px;
}

.login .tooltip {
  top: 33px;
  left: -60px;
}

.tab .tooltip {
  left: 37px;
  top: 0px;
}

.about .tooltip {
  left: 37px;
  top: -20px;
}

.menuButton.games {
  background: url(images/games.png);
}

.menuButton.streams {
  background: url(images/streams.png);
}

.menuButton.videos {
  background: url(images/videos.png);
}

.menuButton.clips {
  background: url(images/clips.png);
}

.menuButton.channels {
  background: url(images/channels.png);
}

.leftDivider {
  background-color: #17141F;
  width: 1px;
  height: 102px;
}

.menuButton.followedStreams {
  background: url(images/followedStreams.png);
}

.menuButton.followedVideos {
  background: url(images/followedVideos.png);
}

.menuButton.followedClips {
  background: url(images/followedClips.png);
}

.menuButton.followedChannels {
  background: url(images/followedChannels.png);
}

.menuButton.about {
  background: url(images/about.png);
}

.contentArea {
  display: block;
  position: absolute;
  top: 36px;
  left: 36px;
  width: 564px;
  height: 564px;
  overflow-x: hidden;
}

.noResults {
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  font-size: 20px;
  color: #17141F;
}

.bigTwitchFox {
  position: absolute;
  top: 20px;
  left: 222px;
  width: 120px;
  height: 120px;
  background-image: url(../icons/twitch-fox.svg);
  background-size: 120px 120px;
}

.versionText {
  position: absolute;
  top: 130px;
  left: 290px;
  color: #17141F;
  font-weight: bold;
}

.aboutText {
  position: relative;
  top: 160px;
  left: 42px;
  ;
  width: 480px;
  font-size: 14px;
  color: #17141F;
  padding-bottom: 14px;
}

.bold {
  font-weight: bold;
}

.aboutText.italic {
  font-style: italic;
}

.aboutButton {
  position: absolute;
  left: 162px;
  top: 450px;
  width: 240px;
  height: 40px;
  background-color: #6441A4;
  text-align: center;
  font-size: 14px;
}

.aboutButton:hover {
  background-color: #7D5BBE;
  cursor: pointer;
}

.buttonContainer {
  height: 40px;
}

.aboutButton.small {
  position: relative;
  display: inline-block;
  width: 120px;
  left: 72px;
  top: 160px;
  margin-right: 30px;
}

.contactInfo {
  position: relative;
  top: 180px;
  left: 42px;
  color: #17141F;
  font-size: 14px;
  padding-bottom: 5px;
  -moz-user-select: text;
}

.content {
  display: inline-block;
  position: relative;
  float: left;
}

.content.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s ease;
}

.content.stream {
  width: 273px;
  height: 171px;
}

.content.game {
  width: 136px;
  height: 220px;
}

.content.channel {
  width: 182px;
  height: 182px;
}

.contentBack {
  position: absolute;
}

.contentBack.stream {
  left: 5px;
  top: 5px;
  width: 265px;
  height: 149px;
  background-size: 256px 144px;
}

.contentBack.game {
  left: 5px;
  top: 5px;
  width: 130px;
  height: 183px;
  background-size: 130px 183px;
}

.contentBack.channel {
  left: 5px;
  top: 5px;
  width: 174px;
  height: 174px;
  background-size: 174px 174px;
}

.bottomText {
  position: absolute;
  color: #6e6779;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bottomText.stream {
  top: 154px;
  left: 5px;
  width: 265px;
  height: 14px;
  white-space: nowrap;
}

.bottomText.gameTop {
  top: 190px;
  left: 5px;
  width: 136px;
  height: 14px;
  color: #19171C;
  white-space: nowrap;
}

.displayName .tooltip {
  left: 10px;
  top: 170px;
}

.displayName:hover .tooltip {
  visibility: visible;
}

.gameTitle .tooltip {
  left: 10px;
  top: 206px;
}

.gameTitle:hover .tooltip {
  visibility: visible;
}

.bottomText.gameBottom {
  top: 204px;
  left: 5px;
  width: 136px;
  height: 14px;
  white-space: nowrap;
}

.hoverBack {
  position: absolute;
  width: 265px;
  height: 18px;
  left: 0px;
  background-color: black;
  opacity: 0.6;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.contentBack.stream:hover .hoverBack {
  width: 265px;
  height: 149px;
}

.contentBack.channel .hoverBack {
  width: 174px;
  height: 20px;
}

.contentBack.channel:hover .hoverBack {
  height: 174px;
}

.contentBack.game .hoverBack {
  width: 130px;
  height: 183px;
  left: 0px;
  opacity: 0;
}

.contentBack.game:hover .hoverBack {
  opacity: 0.4;
}

.clickBack:hover {
  cursor: pointer;
}

.clickBack.game {
  position: absolute;
  width: 130px;
  height: 183px;
}

.clickBack.stream {
  position: absolute;
  width: 265px;
  height: 149px;
}

.clickBack.stream .tooltip {
  width: 235px;
  top: 55px;
}

.clickBack.game .tooltip {
  width: 130px;
  top: 62px;
}

.clickBack:hover .tooltip {
  visibility: visible;
}

.uptimeIcon {
  display: inline-block;
  margin-top: -1px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(images/uptime.png);
  opacity: 0.9;
  float: left;
}

.uptimeIcon:hover {
  opacity: 1;
}

.uptimeIcon:hover .tooltip {
  visibility: visible;
}

.uptimeIcon .tooltip {
  top: 20px;
  left: 90px;
}

.uptime {
  margin-top: -58px;
  margin-right: 5px;
  height: 16px;
  opacity: 0.9;
  float: right;
}

.cornerLogo {
  position: absolute;
  width: 43px;
  height: 43px;
  border-width: 2px 2px 0px 0px;
  border-color: white;
  border-style: solid;
  top: 109px;
  left: 5px;
  background-size: 43px 43px;
  background-color: #FAF9FA;
  opacity: 0.9;
}

.cornerLogo:hover {
  opacity: 1;
}

.cornerLogo:hover .tooltip {
  visibility: visible;
}

.cornerLogo .tooltip {
  top: 44px;
  left: 0px;
}

.cornerGame {
  position: absolute;
  width: 38px;
  height: 52px;
  border-width: 2px 0px 0px 2px;
  border-color: white;
  border-style: solid;
  top: 100px;
  left: 230px;
  background-size: 38px 52px;
  background-color: #FAF9FA;
  opacity: 0.9;
}

.cornerGame.channel {
  left: 139px;
  top: 125px;
}

.cornerGame:hover {
  cursor: pointer;
  opacity: 1;
}

.cornerGame:hover .tooltip {
  visibility: visible;
}

.cornerGame .tooltip {
  top: 53px;
  left: -100px;
}

.channelName {
  position: absolute;
  width: 162px;
  height: 20px;
  top: 3px;
  left: 6px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: none;
  font-weight: bold;
  text-align: center;
}

.hideUntilHover {
  visibility: hidden;
  opacity: 0;
}

.contentBack:hover .hideUntilHover {
  visibility: visible;
  opacity: 1;
}

.status {
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  -moz-user-select: text;
}

.status.stream {
  width: 190px;
  height: 16px;
  left: 2px;
  top: 2px;
  transition: all 0.3s ease;
}

.contentBack.stream:hover .status {
  height: 108px;
  white-space: inherit;
}

.status.channel {
  width: 126px;
  height: 0px;
  left: 6px;
  top: 18px;
  transition: height 0.3s ease;
}

.contentBack.channel:hover .status {
  height: 122px;
  white-space: inherit;
}

.topName {
  width: 162px;
  height: 18px;
  left: 6px;
  top: 2px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.topName .tooltip {
  left: 11px;
  top: 15px;
}

.topName:hover {
  height: 174px;
}

.topName:hover .tooltip {
  visibility: visible;
}

.contentButton {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #6441A4;
}

.contentButton:hover {
  background-color: #7D5BBE;
  cursor: pointer;
}

.contentButton.noAccess {
  opacity: 0.5;
}

.contentButton.noAccess:hover {
  opacity: 1;
  cursor: not-allowed;
}

.contentButton.bottom.stream .tooltip {
  top: 31px;
  left: -45px;
}

.contentButton.bottom.follow.stream .tooltip {
  top: 31px;
  left: -75px;
}

.contentButton.bottom.unfollow.stream .tooltip {
  top: 31px;
  left: -75px;
}

.contentButton.bottom.game .tooltip {
  top: 31px;
  left: 0px;
}

.contentButton.bottom.channel .tooltip {
  top: 31px;
  left: -10px;
}

.contentButton.bottom.favorite.channel .tooltip {
  left: -40px;
}

.contentButton.bottom.follow.channel .tooltip {
  left: -70px;
}

.contentButton.bottom.unfavorite.channel .tooltip {
  left: -40px;
}

.contentButton.bottom.unfollow.channel .tooltip {
  left: -70px;
}

.contentButton.side .tooltip {
  top: 31px;
  left: -107px;
}

.contentButton:hover .tooltip {
  visibility: visible;
}

.contentButton.bottom {
  display: inline-block;
  float: left;
}

.contentButton.bottom.stream {
  top: 119px;
  left: 45px;
}

.contentButton.bottom.game {
  top: 153px;
}

.contentButton.bottom.channel {
  top: 144px;
  left: 14px;
}

.contentButton.side.stream {
  left: 235px;
  top: 35px;
}

.contentButton.side.game {
  left: 100px;
}

.contentButton.side.channel {
  top: 60px;
  left: 144px;
}

.contentButton.twitch {
  background-image: url(images/glitch.png);
}

.contentButton.popout {
  background-image: url(images/popout.png);
}

.contentButton.chat {
  background-image: url(images/chat.png);
}

.contentButton.enlarge {
  background-image: url(images/enlarge.png);
}

.contentButton.favorite {
  background-image: url(images/favorite.png);
}

.contentButton.unfavorite {
  background-image: url(images/favorite.png);
  background-color: goldenrod;
}

.contentButton.unfavorite:hover {
  background-image: url(images/unfavorite.png);
  background-color: #E20303;
}

.contentButton.follow {
  background-image: url(images/follow.png);
}

.contentButton.unfollow {
  background-image: url(images/follow.png);
  background-color: #14B866;
}

.contentButton.unfollow:hover {
  background-image: url(images/unfollow.png);
  background-color: #E20303;
}

.contentButton.smallStreams {
  background-image: url(images/smallStreams.png);
}

.contentButton.smallVideos {
  background-image: url(images/smallVideos.png);
}

.contentButton.smallClips {
  background-image: url(images/smallClips.png);
}

.contentButton.hidden {
  visibility: hidden;
}

.tag {
  display: none;
}

.hide {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}